
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f9f9f9;
    font-size: 20px;
 
  }
  
  .left-side {
    width: 50%;
    max-width: 400px;
  }
  
  .right-side {
    width: 50%;
   
  }
  
  .background-image {
    width: 100%;
    /* height: auto; */
    height:100vh;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  
  .form {
    margin-bottom: 15px;
   
  }
 input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
   
   /* input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  } */
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
   
  }
  
  /* button:disabled {
    background-color: #ccc;
  }
   */
  .error {
    color: red;
    font-size: 14px;
  }
  
  .signin-footer {
    margin-top: 20px;
  }
  
   